NEXT_PUBLIC_SITE_URL=https://brevet.taxcenterug.com
NEXT_PUBLIC_API_URL=https://be-brevet.taxcenterug.com/api/v1
NEXT_PUBLIC_API_URL_DEV=http://localhost:8083/api/v1
NEXT_PUBLIC_API_URL_PROD=https://be-brevet.taxcenterug.com/api/v1
NEXT_PUBLIC_ASSET_URL=https://be-brevet.taxcenterug.com
NEXT_PUBLIC_ASSET_URL_DEV=http://localhost:8083
NEXT_PUBLIC_ASSET_URL_PROD=https://be-brevet.taxcenterug.com
FRONTEND_HOST_PORT=3000
