NEXT_PUBLIC_API_URL=http://localhost:8083/api/v1
NEXT_PUBLIC_API_URL_DEV=http://localhost:8083/api/v1
NEXT_PUBLIC_API_URL_PROD=https://be-brevet.tcugapps.com/api/v1
NEXT_PUBLIC_ASSET_URL=http://localhost:8083
NEXT_PUBLIC_ASSET_URL_DEV=http://localhost:8083
NEXT_PUBLIC_ASSET_URL_PROD=https://be-brevet.tcugapps.com
